# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/.local/bin:$HOME/bin



export PATH
export TMP=/tmp
export ORACLE_HOSTNAME={{ ansible_hostname }}
export ORACLE_UNQNAME={{ ansible_ORACLE_UNQNAME }}
export ORACLE_BASE={{ ansible_ORACLE_BASE }}
export ORACLE_HOME={{ ansible_ORACLE_HOME }}
export ORACLE_SID={{ ansible_ORACLE_SID }}
export PATH=$ORACLE_HOME/bin:$PATH
export LD_LIBRARY_PATH=$ORACLE_HOME/lib:$LD_LIBRARY_PATH
export CLASSPATH=ORACLE_HOME/jlib:ORACLE_HOME/rdbms/jlib;
alias cdob='cd ORACLE_BASE'
alias cdoh='cd ORACLE_HOME'
alias tns='cd ORACLE_HOME/network/admin'
alias envo='env | grep ORACLE'
umask 022
envo
